@{
    ViewData["Title"] = "Appointment Form";
}

@model ApptsViewModel

<h2>Sign Up:</h2>

<form method="post" asp-action="ApptForm">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div>Group Information:</div>

    <div class="form-group">
        <label asp-for="ApptModel.GroupName">Group Name:</label>
        <input asp-for="ApptModel.GroupName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ApptModel.GroupSize">Group Size (Max 15):</label>
        <input asp-for="ApptModel.GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ApptModel.Email">Email:</label>
        <input asp-for="ApptModel.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ApptModel.PhoneNumber">Phone Number:</label>
        <input asp-for="ApptModel.PhoneNumber" class="form-control" />
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>

</form>