@{
    ViewData["Title"] = "Delete Movie";
}

@model ApptModel

<h2>Confirm Deletion:</h2>

<h3>Are you sure you want to delete this appointment?</h3>

<form method="post" asp-controller="Home" asp-action="DeleteAppt">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="ViewAppts" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="ApptId" />
    <input type="hidden" asp-for="DayOfAppt" />
    <input type="hidden" asp-for="TimeOfAppt" />
</form>
