@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tours</h1>
    <img height="400" width="600" src="~/img/layton-utah-temple-6932-main.jpg" /><br /><br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="SignUp">Sign Up</a><br /><br />
    <h6>Sign up here to tour the Layton Utah Temple. There is one tour per hour from 8 a.m. to 8 p.m. and each tour has a maximum of 15 people per group. </h6>
</div>
