@{
    ViewData["Title"] = "Sign Up Page";
}

@model List<ApptTime>
@*twelve columns in bootstrap grid*@

<div class="container">

    @*row 1 - Title of Site *@
    <div class=row>

        <div class="col-lg-12 col-xs-6 border border-width:8px border-dark">
            <h1 style="text-align:center">Temple Tours</h1>
        </div>

    </div>

    @*row 2 - Date / Location / Time *@

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                    <th>
                        <div class="col-6">
                            <h3 style="text-align:center">Date (mm/dd/yyyy)</h3>

                        </div>
                    </th>
                    <th>
                        <div class="col-6">
                            <h3 style="text-align:center">Time (MDT)</h3>
                        </div>
                    </th>
                </tr>
        </thead>

    @*row 3 - Date Info / Location Info / Time Info *@
    @*for each*@

    <tbody>
        @*if statement*@

        @foreach (var x in Model)
        {
            <tr>
                <td>
                    <div class="col">
                        @x.DayOfAppt
                    </div>
                </td>

                @if (@x.Available == true)
                {
                    <td>
                        <div class="col">
                            <a class="btn btn-primary" asp-controller="Home" asp-action="ApptForm" asp-route-id="@x.TimeId">@x.TimeOfAppt</a>
                        </div>
                    </td>
                }
            </tr>
            }
    </tbody>
    </table>
</div>






